    body,
    html {
			margin: 0;
			padding: 0;
			height: 100%;
            background: rgb(203, 74, 221);
            background: linear-gradient(180deg, rgb(185, 72, 203) 0%, rgba(38, 108, 202, 0.89) 100%);
    }

    .mainbox{
			margin-top: 75px;
            margin-right: 100px;
            margin-left: 100px;
			padding: 5px;
			height: 400px;
            background: white;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
    }

    .formbox{
			margin-top: 40px;
            margin-right: 150px;
            margin-left: 150px;
            padding-top: 50px;
			padding-left: 30px;
            padding-right: 30px;
			height: 400px;
            background: white;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
    }

    h1{
        text-align: center;
        color: white;
        font-size: 45px;
        margin-top: 70px;

    }


    h5{
        color: white;
        font-size: 15px;
        margin-top: 2px;

    }

    .button {
        background-color: #454545 !important;;
        font-size: 25px;
        margin-left: 10px;
        margin-right: 20px;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 8px;
        margin-top: 60px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);




    }


    .datetimebox {
        font-size: 25px;
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 20px;
        border: none;
        color: white;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 8px;





    }

    .backbutton {
        background-color: #454545 !important;;
        font-size: 25px;
        margin-left: 10px;
        border: none;
        color: white;
        padding: 5px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 20px;
        margin-top: 40px;
    }

    .radiobuttons {

        font-size: 25px;
        border: none;
        color: #000000;
        margin-left: 9%;
        margin-right: 9%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 5%;


    }

    .images {

        border: none;
        color: #000000;

        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;

    }

    .button:hover {
    background-color: #f1f1f1;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left {
        display: flex;
        justify-content: left;
        align-items: inherit;
    }

    table {


        width: 40%;

        align-content: inherit;
        margin-top: 70px;
        margin-bottom: 50px;

        margin-right: 5%;
        margin-left: 5%;
    }
